/* Navbar */
.cart-btn {
  position: relative;
  height: 3rem;
  width: 3rem;
}
.cart-btn-badge {
  position: absolute;
  color: whitesmoke;
  height: 1.2rem;
  width: 1.2rem;
  bottom: -5px;
  right: -5px;
}

/* StoreItem */
.card-img {
  height: 500px;
  object-fit: cover;
}
.cart-counter {
  gap: 0.5rem;
}
.cart-counter button {
  width: 3rem;
  height: 3rem;
}
