:root {
  --background-color: #434a52;
  --text-color: #e9e7e7;
}

/* Stile per la modalità scura */
.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}
.full-screen {
  min-height: 100vh;
}

/* Navbar */
.cart-btn {
  position: relative;
  height: 3rem;
  width: 3rem;
}
.cart-btn-badge {
  position: absolute;
  color: whitesmoke;
  height: 1.4rem;
  width: 1.4rem;
  bottom: -5px;
  right: -5px;
}

/* StoreItem */
.card-img {
  height: 500px;
  object-fit: cover;
}
.cart-counter {
  gap: 0.5rem;
}
.cart-counter button {
  width: 3rem;
  height: 3rem;
}
